*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
}
.hide{
    display: none;
}
nav div{
    margin-left: 20px;
    display: flex;
}
nav div h1{
    margin-top: 5px;
    margin-left: 8px;
    color: antiquewhite;
}
nav{
    position:fixed;
    width: 100%;
    padding: 5px 8px;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s;
    flex-wrap: wrap;
}

nav ul{
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li a{
    color: azure;
    text-decoration: none;
    padding: 12px 8px;
    font-size: 1.3rem;
}
nav ul li a:hover{
    color: black;
    background-color: aqua;
    transition: all 0.5s;
    border-radius: 30px;
}
.but{
    padding: 12px 22px;
}
#dev{
    color: aliceblue;
    font-size: 1.7rem;
    padding: 12px 8px;
    overflow: hidden;
}
/* .bars{
    display: none;
} */
/* *************pc view********* */
@media  screen and (max-width: 1023px){
    #ul{
        display: none;
    }
    /* .bars{
        display: block;
    } */
}